<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tony.imagelink.mapper.GalleryFeaturesMapper">

    <insert id="insert" parameterType="com.tony.imagelink.mapper.entity.GalleryFeatures"
            useGeneratedKeys="true" keyProperty="collectionId" keyColumn="id">
        insert into mmc_gallery_features
        (model_id, collection_id, title, feature, pic_num, view_num, date, url, comments)
        values (#{modelId,jdbcType=DECIMAL},
                #{collectionId,jdbcType=DECIMAL},
                    #{title,jdbcType=VARCHAR},
                #{feature,jdbcType=VARCHAR},
                #{picNum,jdbcType=VARCHAR},
                #{viewNum,jdbcType=VARCHAR},
        #{date,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{comments,jdbcType=VARCHAR})
    </insert>

    <insert id="insertCollection">
        insert into mmc_model_collection
        (CollectionId, beatyName)
        values
        <foreach collection="featies" item="reddemCode" index="index" separator=",">
            (
            #{name,jdbcType=DECIMAL},
            #{reddemCode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <sql id="Base_Cloumn">
        model_id modelId,collection_id collectionId,title,feature,pic_num picNum,date, view_num viewNum,url,comments
    </sql>
    <select id="selectQueryGalleryFeatures" resultType="com.tony.imagelink.mapper.entity.GalleryFeatures">
        select
        id,<include refid="Base_Cloumn"></include>
        from
        mmc_gallery_features
        union
        select
        id,<include refid="Base_Cloumn"></include>
        from
        mmc_hot_gallery_features
        where
        1 = 1
        <if test="collection_id != null">
            and  collection_id = #{collection_id,jdbcType=DECIMAL}
        </if>
        <if test="model_id != null">
            and model_id = #{model_id,jdbcType=DECIMAL}
        </if>
        group by url
    </select>
    <sql id="Base_Column1">
        CollectionId collectionId, beatyName modelFeature
    </sql>
    <select id="selectModelCollectionIds" resultType="com.tony.imagelink.mapper.entity.ModelCollection">
        select
        <include refid="Base_Column1"></include>
        from mmc_model_collection
        group by CollectionId,beatyName
    </select>
    <select id="checkUrl" resultType="com.tony.imagelink.mapper.entity.GalleryFeatures">
        select
        <include refid="Base_Cloumn"></include>
        from
        mmc_gallery_features
        where
        url = #{url,jdbcType=VARCHAR}
    </select>

    <select id="checkHotUrl" resultType="com.tony.imagelink.mapper.entity.GalleryFeatures">
        select
        <include refid="Base_Cloumn"></include>
        from
        mmc_hot_gallery_features
        where
        url = #{url,jdbcType=VARCHAR}
    </select>

    <select id="checkModelAndCollection" resultType="com.tony.imagelink.mapper.entity.ModelCollection">
        select
        <include refid="Base_Column1"></include>
        from mmc_model_collection
        where CollectionId=#{collection_id,jdbcType=INTEGER} and beatyName in (#{tag,jdbcType=VARCHAR})
    </select>
    <insert id="insertHotGalleryFeatures" parameterType="com.tony.imagelink.mapper.entity.GalleryFeatures"
            useGeneratedKeys="true" keyProperty="collectionId" keyColumn="id">
        insert into mmc_hot_gallery_features
        (model_id, collection_id, title, feature, pic_num, view_num, date, url, comments)
        values (#{modelId,jdbcType=DECIMAL},
        #{collectionId,jdbcType=DECIMAL},
        #{title,jdbcType=VARCHAR},
        #{feature,jdbcType=VARCHAR},
        #{picNum,jdbcType=VARCHAR},
        #{viewNum,jdbcType=VARCHAR},
        #{date,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{comments,jdbcType=VARCHAR})
    </insert>
    <select id="selectLastQueryGalleryFeatures" resultType="com.tony.imagelink.mapper.entity.GalleryFeatures">
        select
        id,<include refid="Base_Cloumn"></include>
        from
        mmc_gallery_features
        where
        1 = 1
        <if test="collection_id != null">
            and  collection_id = #{collection_id,jdbcType=INTEGER}
        </if>
        group by url
        order by date desc
    </select>
    <select id="selectHotQueryGalleryFeatures" resultType="com.tony.imagelink.mapper.entity.GalleryFeatures">
        select
        id,<include refid="Base_Cloumn"></include>
        from
        mmc_hot_gallery_features
        where
        1 = 1
        <if test="collection_id != null">
            and  collection_id = #{collection_id,jdbcType=INTEGER}
        </if>
        group by url
        order by pic_num,date desc
    </select>

</mapper>